<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="home">
            <img src="/img/photo-home.jpg" class= "photo-home" alt="photo-home" id="photo-home">
            <img src="/img/photo-home2.svg" class= "photo-home" alt="photo-home" id="photo-home2">
            <img src="/img/logo-home.png" class= "logo-home" alt="logo-home">
        </div>
        <div class="menu-index" id="menu">
            <p class="amarillo">Menu</p>
            <ul class="menu-option">
                <li><a href="#entradas">ENTRADAS</a></li>
                <li><a class="amarillo" href="#por-lo-que-vienes">POR LO QUE VIENES</a></li>
                <li><a href="#postres">POSTRES</a></li>
            </ul>
        </div>
        <div class="quick-button">
            <p id="paint-button"> 
                <a href="/users/register">Registrate</a>
            </p>
        </div>
        <div class="menu">
            <section>
                <p class="title-menu" id="entradas">ENTRADAS</p>
                <div class="options-menu">
                    <% entradas.forEach(product => { %>
                    <a href="/products/productDetail/<%= product.id %>"class="element-menu" >
                        <img src="/img/<%= product.image %>" class= "photo-element" alt="logo-home">
                        <div class="body-element">
                            <p class="title-element"><%= product.name %></p>
                            <p class="price-element">$<%= toThousand(product.price) %></p>
                            <form action="">
                                <button type="submit" class="button"><i class="fas fa-plus"></i></button>
                                <!-- Variable de agregar -->
                                <label class="quantity">0</label> 
                                <button type="submit" class="button"><i class="fas fa-minus"></i></button>
                            </form>
                        </div>
                    </a>
                    <% }) %>     
                </div>
            </section>
            <section>
                <p class="title-menu" id="por-lo-que-vienes">POR LO QUE VIENES</p>
                <div class="options-menu">
                    <% porvienes.forEach(product => { %>
                    <a href="/products/productDetail/<%= product.id %>" class="element-menu" >
                        <img src="/img/<%= product.image %>" class= "photo-element" alt="logo-home">
                        <div class="body-element">
                            <p class="title-element"><%= product.name %></p>
                            <p class="price-element">$<%= toThousand(product.price) %></p>
                            <form action="">
                                <button type="submit" class="button"><i class="fas fa-plus"></i></button>
                                <!-- Variable de agregar -->
                                <label class="quantity">0</label> 
                                <button type="submit" class="button"><i class="fas fa-minus"></i></button>
                            </form>
                        </div>
                    </a>
                    <% }) %>  
                </div>
            </section>
            <section>
                <p class="title-menu" id="postres">POSTRES</p>
                <div class="options-menu">                    
                    <% postres.forEach(product => { %>
                    <a href="/products/productDetail/<%= product.id %>"class="element-menu" >
                        <img src="/img/<%= product.image %>" class= "photo-element" alt="logo-home">
                        <div class="body-element">
                            <p class="title-element"><%= product.name %></p>
                            <p class="price-element">$<%= toThousand(product.price) %></p>
                            <form action="">
                                <button type="submit" class="button"><i class="fas fa-plus"></i></button>
                                <!-- Variable de agregar -->
                                <label class="quantity">0</label> 
                                <button type="submit" class="button"><i class="fas fa-minus"></i></button>
                            </form>
                        </div>
                    </a>
                    <% }) %>  
                </div>
            </section>
        </div>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>