<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
   <main>
            <div class="user-detail">
                <%- include('../partials/sidebar') %>
                
                <div class="user-about">
                    
                    <div class="image-user">
                            <img src="/img/users/<%= usuarios.Image %>" alt="">
                    </div>
                    <div class="user-info">
                        <div class="user-name"> <%= usuarios.name %></div>                    
                        <div class="user-email"><%= usuarios.email %></div>
                        <a href="/users/editUser/<%= usuarios.Id_users %>" class="btn-update-user">EDITAR USUARIO</a>
                    </div>
                    
                    
                </div>
            </div>
   </main>
   <footer>
    <%- include('../partials/footer') %>
   </footer>
</body>
</html>