<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
   <main>
            <div class="user-detail">
                 <%- include('../partials/sidebar') %> 
                <div class="user-about">
                    
                    <div class="image-user">
                            <img src="/img/users/<%= usuarios.Image %>" alt="">
                    </div>
                    <div class="user-info profile-info">
                        <p class="title">Correo: <%= usuarios.email %></p>
                        <p class="title">Telefono: <%= usuarios.Telephone %></p>
                        <p class="info"></p>
                        <p class="title">Calle: <%= usuarios.address.Street %></p>
                        <p class="title">Numero Ext: <%= usuarios.address.Number_ext %></p>
                      
                        <p class="title">Colonia: <%= usuarios.address.Colonia %></p>
                        
                        <p class="title">Numero Int: <%= usuarios.address.Number_int %></p>
                       
                        <p class="title">Referencias: <%= usuarios.address.Reference %> </p>
                      
                                <a href="/users/editUser/<%= usuarios.Id_users %>" class="btn-update-user">EDITAR USUARIO</a>
                    </div>
                    
                    
                </div>
            </div>
   </main>
   <footer>
    <%- include('../partials/footer') %>
   </footer>
</body>
</html>