<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <header><%- include('../partials/header') %></header>
    <main>
      <div class="new-product">
        <p class="title-new-product">Nuevo producto</p>
        <div class="errores">
          <ul></ul>
        </div>
        <form
          class="form-1"
          action="/products/newProduct"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="input-new-product">
            <label for="name">Nombre del producto</label>
            <input
              class="name"
              type="text"
              name="name"
              value="<%= locals.errors && errors.name ? 'is-inavlid': null  %>"
              value="<%= locals.oldData ? oldData.name : null %>"
              placeholder="Nombre  y apellido"
            />
            <% if(locals.errors && errors.name) { %>
            <p class="errorMsg"><%= errors.name.msg %></p>
            <% } %>
          </div>
          <div class="input-new-product">
            <label for="price">Precio:</label>
            <input type="number" name="price" id="price" class="price" />
          </div>
          <div class="input-new-product">
            <label for="category">Categoria:</label>
            <select name="category_id" id="" required>
              <option value="" disabled selected>
                - Seleccione la categoria -
              </option>
              <% allCategoria.forEach(categoria => { %>
              <option value="<%= categoria.Id_categories %>">
                <%= categoria.name %>
              </option>
              <% }); %>
            </select>
          </div>
          <div class="input-new-product">
            <label for="description" class="description">Descripción:</label>
            <textarea
              class="descripcion"
              name="description"
              id="description"
              cols="30"
              rows="5"
              class="<%= locals.errors && errors.name ? 'is-inavlid': null %>"
              value="<%= locals.oldData ? oldData.name : null %>"
            >
                        <% if(locals.errors && errors.name) { %>
                            <p class="errorMsg" > <%= errors.name.msg %> </p>
                        <% } %>
                    </textarea
            >
          </div>
          <div class="input-new-product">
            <label for="productImage" class="form-label">Imagen:</label>
            <input
              type="file"
              class="file"
              id="file"
              name="productImage"
              multiple
              accept=".jpg, .png"
            />
            <% if(locals.errors && errors.UsuarioImage) { %>
            <p class="errorMsg"><%= errors.UsuarioImage.msg %></p>
            <% } %>
          </div>
          <button type="submit" class="buy-now-button">Guardar producto</button>
        </form>
      </div>
    </main>
    <script src="/js/productvalidator.js"></script>
    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
