<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
   <main>
       <div class="product-detail">
        <ul>
            <% for( let i = 0; i < producto.length; i++ ) { %>
            <li>
                <a href="/products/productDetail/<%= producto[i].Id_products %>"><%= producto[i].name %></a>
           
            <% } %>
            
        </ul>
            
       </div>
   </main>
   <footer>
    <%- include('../partials/footer') %>
   </footer>
</body>
</html>