<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
   <main>
       <div class="product-detail">
            <div class="image-detail">
                <img src="/img/products/<%= product.Image %>" alt="">
            </div>
            <div class="product-info">
                <p class="product-name"><%= product.name %></p>
                <p class="product-price" >$<%= product.price %></p>
                <p class="description-title"><%= product.categories.name %></p>
                <br>
                <p class="description-title">Descripcion</p>
                <div class="product-description">
                    <p><%= product.description %></p>
                </div>
                <% if(locals.isLogged) {%>
                <a href="/products/editProduct/<%= product.Id_products %>" class="action-button-edit">EDITAR PRODUCTO</a>
                <% } else{ %>
                    <p><a href="#" class="action-button-edit">Agregar al carrito </a></p>
                   <% }  %>
                   <% if(locals.isLogged) {%>  
                <form action="/products/delete/<%= product.Id_products %>?_method=DELETE>" method="POST" style="display: inline-flex">
                    <button type="submit" class="action-button-delete">ELIMINAR</button>
                </form>
                <% } else{ %>
                    <button type="submit" class="action-button-delete" style="display: inline-flex">Comprar</button>
                   <% }  %>
            </div>
       </div>
   </main>
   <footer>
    <%- include('../partials/footer') %>
   </footer>
</body>
</html>